.home-container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  margin-top: -64px;
  padding-top: 64px;
}

.home-content {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1536px;
  margin: 0 auto;
  padding: 3rem;
  padding-bottom: 6rem;
  display: flex;
}

.content-glass {
  flex: 1;
  height: 100%;
  padding: 2rem;
  color: white;
  max-width: 50%;
  position: relative;
}

.carousel-container {
  position: sticky;
  top: 0;
  width: 50%;
  height: 100vh;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 6rem 3rem;
  pointer-events: none;
  z-index: 1;
  margin-bottom: 50vh;
}

.carousel-container > * {
  pointer-events: auto;
}

@media (max-width: 768px) {
  .content-glass {
    max-width: 100%;
  }
  
  .carousel-container {
    display: none;
  }
}